#MLDL
tensorflow
Keras
versioneer


#data 
pandas
numpy
scikit-learn
scipy


#for data recuperation from website
yfinance
quandl
investpy

# For applications handling images in Cloud ML Engine
Pillow

# Testing
pytest
pytest-cov
mock

